/**
 * Black theme for reveal.js. This is the opposite of the 'white' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);
@import url('https://fonts.googleapis.com/css?family=Racing+Sans+One');


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #b589b2;

$mainColor: #222;
$headingColor: #222;

$mainFontSize: 42px;
$mainFont: 'Racing Sans One', Helvetica, sans-serif;
$headingFont: 'Racing Sans One', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #7d01e9;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.25em;
$heading2Size: 1.4em;
$heading3Size: 1.1em;
$heading4Size: 1.0em;

:root {
  --violetLightest: #f5e8ff;
  --violetLight: #e2bfff;
  --violetMed: #9365ff;
  --violetDark: #8100fa;
}

section.has-light-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #222;
	}
}


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
.reveal .flash {
  animation: flash 2s steps(2) infinite;
}

@keyframes flash {
  from {opacity: 0.1}
  to {opacity: 1}
}

.reveal small {
 font-size: 1.2rem;
 margin-top: 0.5rem;
}

.contact {
 position: absolute;
 bottom: 1rem;
 left: 1rem;
 
 a {
   font-size: 2rem;
   font-family: $mainFont;
   color: var(--violetLight);
   z-index: 10;
   mix-blend-mode: difference;
 }
}

.reveal section img,
.reveal section video {
 box-shadow: none;
 border: none;
 background: none;
 margin: none;
}

.reveal code,
.reveal code pre {
 font-size: 2rem;
 font-size: $mainFont;
}

.reveal code,
.reveal .code-editor {
 display: block;
 white-space: pre;
 text-align: left;
 padding: 2rem;
 border: 1px solid;
 margin: 2rem;
 font-size: 1.8rem;
 background: rgba(0,0,0,0.1);
 font-family: $mainFont;
}

.reveal .code-editor:hover,
.reveal .code-editor:focus {
 outline: 2px solid white;
 background: rgba(0,0,0,0.5)
}

.reveal .rotating-radial {
 background: conic-gradient(red, orange, gold, deeppink, blueviolet, red);
}

.reveal .source {
 margin: 2rem auto 0;
 display: block;
}

.reveal .itemList {
 font-size: 1.5rem;
 line-height: 1.5;
 
 span {
   background: var(--violetMed)
 }
}

.reveal .primaryLink {
 font-size: 2rem;
 border-bottom: 1px solid;
}

.reveal .primaryLink:hover {
 border-bottom: 1px solid;
}

.reveal .flex {
 display: flex;
}

.reveal .half {
 flex: 1;
 flex-basis: 50%;
}

.reveal .smallerText {
 font-size: 1.1rem;
 white-space: pre-wrap;
}

.reveal .sparkles {
 display: inline-block;
 animation: sparkle 0.25s infinite linear;
}

@keyframes sparkle {
 from {
   background-image: paint(sparkles);
 }
 to {
   background-image: paint(sparkles);
 }
}

.reveal .shadow {
	text-shadow: 5px 5px 0 rgba(255, 255, 255, 0.5);
}

.reveal .fullframe {
	width: 100%; 
  height: 500px;
	background: white;
}

.reveal .highlightEl {
  --highlighter-pen: url('../../../img/highlighter.png');
  --highlighter-color: yellow;
  --highlighter-path: path("M0,46L50,50"), path("M0,52L50,44");
  --highlighter-size: 120;
  --highlighter-opacity: 1;
  --highlighter-smooth: 2;
  --highlighter-progress: 0;

  position: relative;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  padding: 50px;
  background: paint(highlighter);
  border-image-source: var(--highlighter-pen);
  transition: --highlighter-progress 1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.reveal .highlightEl.name {
  --highlighter-path: path("M50,230c25,-50 455,-8 465,-20");
}

.reveal .scalloped {
  --extra-scallopRadius: 35;
  --extra-scallopColor: white;
  --extra-scallopWeight: 4;

  position: relative;
  background: paint(extra-scallopedBorder);
  padding: 5rem;
}

// .reveal .scalloped:before {
//   --extra-scallopRadius: 35;
//   --extra-scallopColor: red;
//   --extra-scallopWeight: 4;

//   background: paint(extra-scallopedBorder);
//   width: 100%;
//   height: 90%;
//   position: absolute;
//   top: 15px;
//   left: 5px;
//   content: '';
//   z-index: -1;
// }

.reveal code {
  font-family: 'Dank Mono', 'Inconsolata', monospace;
}

.reveal a {
  text-decoration: underline;
}

.reveal .song {
  font-size: 43%;
}

.reveal .song h2 {
  position: absolute;
  transform: rotate(-90deg);
  left: -3rem;
  top: 45%;
  font-size: 4rem;
  color: rgb(63, 42, 53);
}

.song .scalloped {
  --extra-scallopRadius: 15;
  --extra-scallopColor: #5858ff;
  --extra-scallopWeight: 2;
  padding: 2rem;
  display: inline-block;
}

.song .scalloped.love {
  --extra-scallopRadius: 4;
  --extra-scallopColor: #c30000;
  --extra-scallopWeight: 1;

  padding: 0.25rem 0.5rem;
  color: #c30000;
}

.reveal .superUnderline {
  --extra-underlineNumber: 10; /* default: 3 */
  --extra-underlineColor: #8100fa; /* default: black */
  --extra-underlineSpread: 40; /* default: 20 */
  --extra-underlineWidth: 2; /* default: 2 */

  background: paint(extra-superUnderline);
}

.reveal .song .superUnderline {
  --extra-underlineNumber: 3; /* default: 3 */
  --extra-underlineColor: white; /* default: black */
  --extra-underlineSpread: 5; /* default: 20 */
  --extra-underlineWidth: 0.5; /* default: 2 */
}

.reveal .crossOut {
  --extra-crossColor: #fc0; /* default: black */
  --extra-crossWidth: 4; /* default: 1 */

    background: paint(extra-crossOut);
}

.reveal .song .crossOut {
  --extra-crossColor: #55d4c5; /* default: black */
  --extra-crossWidth: 2; /* default: 1 */
}